<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" type="image/x-icon" />   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <!-- 最新 Bootstrap 核心 CSS 文件 -->
	  <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
  	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
  	<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}">
   
  </head>
  <script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>
  <body>
 
  <div class="container">
  	<div  style="max-width:200px; height:200px; margin:auto;">
  		<form role="form" method="POST" onsubmit="return logincheck();">
		  	<h2 class="info">用户登录</h2>
		  	<div class="form-group">
	 	   		 <input name="name" id="name" type="name" class="form-control" id="exampleInputEmail1" placeholder="输入用户名">
	 		</div>
	 		<div class="form-group">
		 		<input name="pwd" id="pwd" type="password" class="form-control" id="exampleInputPassword1" placeholder="输入密码">
		 	</div>
		 	<button type="submit" class="btn btn-lg btn-primary btn-block">登录</button>
		 </form>
	</div>
  </div>
  </body>
</html>